<!DOCTYPE HTML>
<html>
<head>
	<meta charset = "utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link href = '../css/home.css' rel = 'stylesheet'>
	<link href = '../css/list.css' rel = 'stylesheet'>
	<script src="../javascript/home.js"></script>
	<title> Home </title>
</head>
<body onload="cookiesAlert()">


	<div class = "menuBar">
		<ul>
			<li><a href = "Home.html"> Home </a></li>
			<li><a href = "items.html"> Items </a></li>
			<li id = "toHover" hover = "hvr"><a> Story </a>
				<ul id = "toSlide"> 
					<li><a href = "story1.html"> Dark Souls 1 </a></li>
					<li><a href = "story2.html"> Dark Souls 2 </a></li>
					<li><a href = "story3.html"> Dark Souls 3 </a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div id = "info">
		<p id = "firstLine"> Welcome ashen one! <br>
			 This is the official guide of Dark Souls</p>
	</div>
	
</body>
</html>