body {
	background-image: url("../images/2.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}



#info p{
	color: white;
	position: absolute;
	top:40%;
	left:10%;
	font-size: 30px;
}


.btn {
	position: center;
}
.btn:hover {
	background-color: gray;
}
